<div id="${id}" class="bottom-panel vert-resizable top-resizer no-focus">
    <div class="toolbar simple-toolbar-layout mainToolbar">
        <span>POSTMAN - REST Client</span>
        <select id="auth__select" data-bind="value: authMode">
            <option selected="selected" value="normal">Normal</option>
            <option disabled="disabled" value="basic">Basic Auth</option>
            <option disabled="disabled" value="digest">Digest Auth</option>
            <option disabled="disabled" value="oauth">OAuth 1.0</option>
        </select>
        <button id="toolbar-close" data-bind="click: close">×</button>
    </div>
    <div class="postman-view resizable-content">
        <div class="postman-row">
            <form id="url__input-container">
                <input id="url__input" placeholder="Enter URL here" type="url" data-bind="textInput: url, enterKey: onSendClick" />
            </form>
            <div id="btns-container" class="btn-group">
                <select id="method__select" data-bind="foreach: getMethods(), value: method">
                    <option data-bind="text: name, attr:{value: id}"></option>
                </select>
                <button disabled="disabled" id="headers__btn" class="btn small">Headers</button>
            </div>
        </div>
        <div class="postman-row">
            <div class="btn-group">
                <button class="btn small primary" data-bind="click: onSendClick">Send</button>
                <button disabled="disabled" class="btn small">Preview</button>
                <button disabled="disabled" class="btn small">Add to collection</button>
            </div>
            <div id="btns__container-right">
                <button disabled="disabled" id="reset__btn" class="btn small">Reset</button>
            </div>
        </div>
        <div class="postman-row" data-bind="if: isResponse">
            <!-- ko with: lastHistoryItem -->
            <textarea class="postman-body" data-bind="value: data"></textarea>
            <!-- /ko -->
        </div>
        <div class="postnam-row postman-result__error" data-bind="if: isErrorResponse">
            <!-- ko with: lastHistoryItem -->
            <h3>Could not get any response</h3>
            <div>
                <span>This seems to be like an error</span>
                <span data-bind="if: url">connecting to <a data-bind="text: url, attr:{href: url}"></a></span>
                <span>. </span>
                <span data-bind="if: errorThrown">The response status was <span class="errorThrown" data-bind="text: errorThrown"></span>.</span>
            </div>
            <div>Check out the <a href="http://www.w3.org/TR/XMLHttpRequest/#the-status-attribute">W3C XMLHttpRequest Level 2 spec</a> for more details about when this happens.</div>
            <!-- /ko -->
        </div>
    </div>
</div>
