<div id="${id}" class="bottom-panel vert-resizable top-resizer no-focus">
    <div class="toolbar simple-toolbar-layout mainToolbar">
        <span>POSTMAN - REST Client</span>
        <select id="auth__select" data-bind="value: authMode" style="display: none;">
            <option selected="selected" value="normal">Normal</option>
            <option disabled="disabled" value="basic">Basic Auth</option>
            <option disabled="disabled" value="digest">Digest Auth</option>
            <option disabled="disabled" value="oauth">OAuth 1.0</option>
        </select>
        <button id="toolbar-close" data-bind="click: close">×</button>
        <button id="toolbar-settings" class="postman-settings"></button>
    </div>
    <div class="postman-view resizable-content">
        <div class="postman-row">
            <form id="url__input-container">
                <input id="url__input" placeholder="Enter URL here" type="url" data-bind="textInput: url, enterKey: onSendClick, hasFocus: urlFocused" />
            </form>
            <div id="btns-container" class="btn-group">
                <select id="method__select" data-bind="foreach: getMethods(), value: method">
                    <option data-bind="text: name, disable: !available ,attr:{value: id}"></option>
                </select>
            </div>
        </div>
        <div class="postman-row">
            <div class="btn-group">
                <button class="btn small primary" data-bind="click: onSendClick">Send</button>
                <button class="btn small" disabled="disabled">URL params</button>
                <button class="btn small" data-tab="REQUEST_HEADERS" data-bind="css:{active: isActiveResponseTab($element)}, click: setActiveTab, text: getRequestHeadersText($data)"></button>
                <button class="btn small" data-tab="REQUEST_BODY" data-bind="css:{active: isActiveResponseTab($element)}, click: setActiveTab, disable: isBodylessMethod, text: getRequestBodyText($data)"></button>
                <!-- ko if: isResponse && lastHistoryItem -->
                <button class="btn small" data-tab="HEADERS" data-bind="css:{active: isActiveResponseTab($element)}, click: setActiveTab, text: getHeadersText($data)"></button>
                <button class="btn small" data-tab="BODY" data-bind="css:{active: isActiveResponseTab($element)}, click: setActiveTab">Response body</button>
                <!-- ko with: lastHistoryItem -->
                <span class="postman-statusFirst" data-bind="text: statusCode"></span>
                <span class="postman-statusSecond" data-bind="text: textStatus"></span>
                <span class="postman-statusFirst">Time</span>
                <span class="postman-statusSecond">
                    <span data-bind="text: time"></span>
                    <span>ms</span>
                </span>
                <!-- /ko -->
                <!-- /ko -->
            </div>
            <!-- ko if: isMakingTheRequest -->
            <img width="16" height="16" title="" alt="" data-bind="attr:{src: getSpinnerData()}" />
            <span>Making the request</span>
            <!-- /ko -->
            <div id="btns__container-right">
                <button id="reset__btn" class="btn small" data-bind="click: reset">Reset</button>
            </div>
        </div>
        <div class="postman-result" data-bind="if: isResponse() || responseView()">
            <!-- The instance of CodeMirror editor -->
            <textarea class="postman-result__body" data-bind="codemirror: responseView(), cmEditable: codemirrorEditable, cmMode: codemirrorMode(), cmValue: codemirrorValue" style="display: none;"></textarea>
            <div class="postman-result__status">
                <div class="postman-codemirror__editable">
                    <span class="postman-codemirror__editable-blop" data-bind="css:{ disabled: !codemirrorEditable() }"></span>
                    <span class="postman-codemirror__editable-label" data-bind="text: codemirrorEditableLabel()"></span>
                </div>
                <div class="postman-codemirror__valid" data-bind="visible: codemirrorEditable">
                    <span class="postman-codemirror__valid-blop" data-bind="css:{ disabled: !isCodemirrorValueValid() }"></span>
                    <span class="postman-codemirror__valid-label" data-bind="text: codemirrorValidValueLabel()"></span>
                </div>
            </div>
        </div>
        <div class="postnam-row postman-result__error" data-bind="if: isErrorResponse() && !responseView()">
            <!-- ko with: lastHistoryItem -->
            <h3>Could not get any response</h3>
            <div>
                <span>This seems to be like an error</span>
                <span data-bind="if: url">connecting to <a data-bind="text: url, attr:{href: url}"></a></span>
                <span>. </span>
                <span data-bind="if: errorThrown">The response status was <span class="errorThrown" data-bind="text: errorThrown"></span>.</span>
            </div>
            <div>Check out the <a href="http://www.w3.org/TR/XMLHttpRequest/#the-status-attribute">W3C XMLHttpRequest Level 2 spec</a> for more details about when this happens.</div>
            <!-- /ko -->
        </div>
    </div>
</div>
